@font-face {
  font-family: "Gravity-Book";
  font-style: normal;
  font-weight: 350;
  src: url("../../../fonts/Gravity-Book.woff");
  src: local(""), url("../../../fonts/Gravity-Book.woff") format("woff");
}
@font-face {
  font-family: "Gravity-Regular";
  font-style: normal;
  font-weight: 400;
  src: url("../../../fonts/Gravity-Regular.woff");
  src: local(""), url("../../../fonts/Gravity-Regular.woff") format("woff");
}
@font-face {
  font-family: "RoundedElegance";
  font-style: normal;
  font-weight: 400;
  src: url("../../../fonts/Rounded_Elegance.woff");
  src: local(""), url("../../../fonts/Rounded_Elegance.woff") format("woff");
}
body {
  width: 100%;
  min-width: 900px;
  max-width: 1920px;
}

@media (max-width: 560px) {
  body {
    min-width: unset;
  }
}
.container {
  width: 1100px;
  margin: 0 auto;
}

.none {
  display: none;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  bottom: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.header {
  background: #080808;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: justify;
  letter-spacing: 1px;
  padding: 0 10px;
  display: none;
}

.header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.nav .nav-item {
  text-transform: uppercase;
}

.nav-item:not(:last-child) {
  margin-right: 3.177vw;
}

.item-link {
  color: #f4f4f4;
  font-family: "Gravity";
  font-size: 22px;
  font-weight: 400;
  line-height: 26.4px;
  letter-spacing: 0.01em;
  text-align: center;
  position: relative;
}
.item-link:hover:after {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background-color: #f4f4f4;
  opacity: 1;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
  -webkit-transition: opacity 0.1s linear;
  transition: opacity 0.1s linear;
}

.item-red {
  color: #f4f4f4;
  font-family: "Gravity";
  font-size: 22px;
  font-weight: 400;
  line-height: 26.4px;
  letter-spacing: 0.01em;
  text-align: center;
  text-underline-position: from-font;
  position: relative;
}
.item-red:hover:after {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background-color: #6d0602;
  opacity: 1;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
  -webkit-transition: opacity 0.1s linear;
  transition: opacity 0.1s linear;
}

.header-link {
  margin-left: 20.802vw;
}

.popup {
  display: none;
}

@media (max-width: 795px) {
  .nav {
    display: none;
  }
  .header-nav {
    display: none;
  }
  .header-burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    position: relative;
    z-index: 100;
  }
  .navbar__hamb {
    display: block;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-right: 10px;
  }
  .navbar__hamb-field {
    cursor: pointer;
    padding: 5px;
  }
  .navbar__hamb-bar {
    display: block;
    width: 30px;
    height: 2px;
    margin: 6px auto;
    background-color: #f4f4f4;
    -webkit-transition: 0.2s;
    transition: 0.2s;
    line-height: 1;
  }
  .item-link {
    font-size: 18px;
    font-weight: 400;
    line-height: 21.6px;
    text-align: center;
  }
  .nav__text {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 20px 0;
    font-size: 20px;
    font-weight: bold;
    color: #f4f4f4;
  }
  .active .navbar__hamb-bar:nth-child(2) {
    opacity: 0;
  }
  .active .navbar__hamb-bar:nth-child(1) {
    -webkit-transform: translateY(8px) rotate(45deg);
            transform: translateY(8px) rotate(45deg);
  }
  .active .navbar__hamb-bar:nth-child(3) {
    -webkit-transform: translateY(-8px) rotate(-45deg);
            transform: translateY(-8px) rotate(-45deg);
  }
  .noscroll {
    overflow: hidden;
  }
  .popup-menu {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-transform: uppercase;
    padding-top: 35px;
  }
  .popup-menu .nav-item {
    margin: 0;
  }
  .popup-menu .nav-item:not(:first-child) {
    padding-top: 20px;
  }
  .popup {
    padding-top: 86px;
    padding-bottom: 30px;
    position: fixed;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: #080808;
    z-index: 10;
    display: block;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    overflow-y: auto;
  }
  .popup.open {
    left: 0;
  }
}
.main {
  background: #080808;
  position: relative;
}

.rectangle {
  position: absolute;
  left: 0;
  top: 0;
  width: 1440px;
  height: 850px;
  background-color: #0f0f0f;
}

.main-title {
  margin-top: 90px;
  width: 680px;
  height: 196px;
}

.title-text {
  color: #f4f4f4;
  font-size: 82px;
  font-style: normal;
  font-family: "Rounded Elegance";
  font-weight: 400;
  line-height: 98px;
  text-align: left;
  text-transform: uppercase;
}

.main-subtitle {
  margin-top: 60px;
  width: 522px;
  height: 84px;
}

.title-subtext {
  font-family: "Gravity-Book";
  font-size: 30px;
  font-weight: 350;
  line-height: 42px;
  text-align: left;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  color: #f4f4f4;
}

.main-swiper {
  position: absolute;
  margin-top: -100px;
  right: 18.5%;
}

.main-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.button-block {
  margin-top: 90px;
}

.button {
  position: relative;
  width: 110px;
  height: 160px;
  border: none;
  background: inherit;
}
.button p {
  font-family: "Gravity-Book";
  font-size: 22px;
  font-weight: 400;
  line-height: 30.8px;
  text-align: center;
  color: #f4f4f4;
  position: sticky;
  z-index: 1;
}
.button p::after {
  background: #080808;
  cursor: pointer;
  position: absolute;
  top: -25px;
  left: -15px;
  content: "";
  width: 160px;
  height: 160px;
  border: 2px solid #f4f4f4;
  border-radius: 50%;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  z-index: -2;
}
.button p:hover::after {
  top: 0;
  left: 47;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

@media (max-width: 1250px) {
  .button-block {
    margin-top: 30px;
  }
}
@media (max-width: 980px) {
  .button-block {
    margin-top: 20px !important;
  }
}
@media (max-width: 705px) {
  .button-block {
    display: none;
  }
}
.order__item {
  cursor: pointer;
  width: 160px;
  height: 100px;
  margin-top: 345px;
  margin-left: 26px;
  position: relative;
  z-index: 2;
}

.order__btn {
  position: relative;
  outline: none;
  background-color: inherit;
  color: #ffffff;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  z-index: 1;
}

.order__btn2 {
  position: relative;
  outline: none;
  cursor: pointer;
  background-color: inherit;
  color: #ffffff;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  z-index: 2;
}

.order__btn::after {
  position: absolute;
  content: "";
  top: -74px;
  left: -21px;
  width: 160px;
  height: 160px;
  border: 2px solid #f4f4f4;
  background-color: #0f0f0f;
  border-radius: 50%;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  z-index: 2;
}

.order__btn2::after {
  position: absolute;
  content: "";
  top: -74px;
  left: -21px;
  width: 160px;
  height: 160px;
  border: 2px solid red;
  background-color: #0f0f0f;
  border-radius: 50%;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  z-index: 2;
}

.order__btn:hover::after {
  top: -56px;
  left: -30px;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  z-index: 2;
}

.order__btn2:hover::after {
  top: -56px;
  left: -30px;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  z-index: 2;
}

.order__btn-text {
  width: 114px;
  position: relative;
  font-size: 22px;
  font-weight: 400;
  line-height: 30px;
  font-style: normal;
  z-index: 4;
}

.swiper {
  width: 600px;
  height: 900px;
}

.image-slider__image {
  width: 600px !important;
  height: 900px;
  text-align: center;
}

.swiper-slide-active {
  width: 600px !important;
}

.image-slider__image img {
  min-width: 100%;
}

.swiper-button-next::after {
  display: none;
}

.swiper-button-prev::after {
  display: none;
}

.swiper-pagination {
  display: none;
}

.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
  display: none;
}

.slider-prev {
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  outline: none;
  background-color: inherit;
  color: #ffffff;
  border-radius: 50%;
  border: none;
}

.slider-next {
  cursor: pointer;
  z-index: 1;
  outline: none;
  background-color: inherit;
  color: #ffffff;
  border-radius: 50%;
  border: none;
}

.author {
  background: #080808;
}

.author-photo {
  -o-object-fit: cover;
     object-fit: cover;
}
.author-photo img {
  width: 500px;
  height: 600px;
}

.title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 60px;
}
.title h1 {
  font-family: "RoundedElegance";
  font-size: 84px;
  font-weight: 400;
  line-height: 82px;
  text-align: left;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
}

.author-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.author-text {
  padding-left: 60px;
}

.author-title {
  margin-top: 20px;
}
.author-title div {
  font-family: "RoundedElegance";
  font-size: 46px;
  font-weight: 400;
  line-height: 48px;
  text-align: left;
  color: #f4f4f4;
  text-transform: uppercase;
}

.author-subtitle {
  margin-top: 60px;
}
.author-subtitle div {
  font-family: "Gravity-Book";
  font-size: 24px;
  font-weight: 350;
  line-height: 33.6px;
  text-align: left;
  color: #f4f4f4;
}

@media (max-width: 1140px) {
  .container {
    max-width: 900px;
  }
  .title {
    padding-bottom: 30px;
  }
  .title h1 {
    font-size: 64px;
  }
  .author-photo {
    -o-object-fit: cover;
       object-fit: cover;
  }
  .author-photo img {
    width: 400px;
    height: 500px;
  }
  .author-text {
    padding-left: 35px;
  }
  .author-title {
    margin-top: 10px;
  }
  .author-title div {
    font-size: 26px;
  }
  .author-subtitle {
    margin-top: 30px;
  }
  .author-subtitle div {
    width: 450px;
    font-size: calc(16px + 8.4 * (100vw - 320px) / 1200);
    line-height: 25px;
  }
  .button-block {
    margin-top: 70px;
  }
}
@media (max-width: 560px) {
  .author {
    width: 543px;
  }
  .container {
    width: 543px;
  }
  .author-description {
    width: 543px;
    display: block;
  }
  .title {
    padding: 0 0 30px 30px;
    display: block;
    text-align: left;
  }
  .title h1 {
    font-size: 30px;
  }
  .author-photo {
    display: none;
  }
}
.excerpt {
  background: #080808;
  padding-bottom: 200px;
}

.excerpt-text {
  width: 990px;
  text-align: center;
  margin: 0 auto;
}
.excerpt-text ::before {
  content: url(../../../img/svg/left.svg);
  width: 42px;
  height: 42px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 32px;
}
.excerpt-text p {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-transform: uppercase;
  padding-top: 300px;
  font-family: "RoundedElegance";
  font-size: 34px;
  font-weight: 400;
  line-height: 50.4px;
  text-align: left;
  color: #f4f4f4;
}
.excerpt-text ::after {
  content: url(../../../img/svg/right.svg);
  width: 42px;
  height: 42px;
  display: inline-block;
  vertical-align: middle;
  margin: 95px 0 0 27px;
}

@media (max-width: 1145px) {
  .excerpt-text {
    width: 860px;
  }
  .excerpt-text ::before {
    width: 32px;
    height: 32px;
  }
  .excerpt-text p {
    width: 817px;
    padding-top: 200px;
    font-size: 28px;
    line-height: 40px;
  }
  .excerpt-text ::after {
    width: 32px;
    height: 32px;
  }
}
@media (max-width: 770px) {
  .excerpt-text {
    width: 660px;
  }
  .excerpt-text ::before {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
    width: 22px;
    height: 22px;
    margin-top: -10px;
  }
  .excerpt-text p {
    width: 600px;
    padding-top: 200px;
    font-size: 20px;
    line-height: 30px;
  }
  .excerpt-text ::after {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
    width: 22px;
    height: 22px;
    margin: 65px 0 0 27px;
  }
}
@media (max-width: 562px) {
  .excerpt {
    width: 680px;
  }
  .container {
    max-width: 550px;
  }
  .excerpt-text ::before {
    -webkit-transform: scale(0.6);
            transform: scale(0.6);
    width: 22px;
    height: 22px;
    margin-top: -10px;
  }
  .excerpt-text p {
    width: 530px;
    padding-top: 200px;
    font-size: 18px;
    line-height: 30px;
  }
  .excerpt-text ::after {
    -webkit-transform: scale(0.6);
            transform: scale(0.6);
    width: 22px;
    height: 22px;
    margin: 65px 0 0 -27px;
  }
}
.project-title {
  display: none;
  background: #080808;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "RoundedElegance";
  font-size: calc(68px + 1.25vw);
  font-weight: 400;
  line-height: 82px;
  text-align: left;
  color: #f4f4f4;
}

@media (max-width: 561px) {
  .project-title {
    font-size: calc(24px + 2.1052631579vw);
    line-height: 62px;
  }
}
.water {
  background: #080808;
  display: none;
}

.water-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.water-text {
  padding-top: 170px;
}

.water-title h2 {
  font-family: "RoundedElegance";
  font-size: 46px;
  font-weight: 400;
  line-height: 48px;
  text-align: left;
  color: #f4f4f4;
  text-transform: uppercase;
}

.water-subtitle {
  margin-top: 43px;
}
.water-subtitle p {
  font-family: "Gravity-Book";
  font-size: 24px;
  font-weight: 350;
  line-height: 33.6px;
  text-align: left;
  color: #f4f4f4;
}

.photosession {
  margin-top: -125px;
  font-family: "RoundedElegance";
  font-size: 140px;
  font-weight: 400;
  line-height: 180px;
  text-align: left;
  color: black;
}

.water-img {
  padding-left: 40px;
  -o-object-fit: cover;
     object-fit: cover;
}
.water-img img {
  width: 700px;
  height: 400px;
}

@media (max-width: 1250px) {
  .water-text {
    padding-top: 120px;
  }
  .water-title h2 {
    font-size: calc(30px + 1.28vw);
  }
  .water-subtitle {
    margin-top: 23px;
  }
  .water-subtitle p {
    font-size: calc(8px + 1.28vw);
  }
  .water-img {
    padding-left: 40px;
  }
  .water-img img {
    width: 500px;
    height: 300px;
  }
  .photosession {
    font-size: calc(84px + 2.1052631579vw);
  }
}
@media (max-width: 980px) {
  .water-wrapper {
    padding: 0 15px;
  }
  .water-text {
    padding-top: 70px;
  }
  .water-title h2 {
    font-size: calc(30px + 1.6326530612vw);
  }
  .water-subtitle {
    margin-top: 23px;
  }
  .water-subtitle p {
    font-size: calc(8px + 1.6326530612vw);
  }
  .water-img {
    padding-left: 20px;
  }
  .water-img img {
    width: 400px;
    height: 250px;
  }
  .photosession {
    font-size: calc(84px + 2.1052631579vw);
  }
}
@media (max-width: 700px) {
  .container {
    max-width: 440px;
  }
  .water-wrapper {
    display: block;
  }
  .water-text {
    padding-top: 0;
  }
  .water-title {
    width: 350px;
    padding-bottom: 10px;
  }
  .water-title h2 {
    font-size: calc(6px + 2.8070175439vw);
    line-height: 30px;
    padding-left: 20px;
  }
  .water-subtitle {
    display: none;
  }
  .button-block {
    display: none;
  }
  .photosession {
    display: none;
  }
}
@media (max-width: 520px) {
  .water {
    width: 520px;
  }
  .water-wrapper {
    padding: 0;
  }
  .water-title {
    width: 270px;
  }
  .water-img img {
    width: 347px;
  }
}
.arrow-block {
  position: relative;
  top: -98px;
  left: 40px;
  cursor: pointer;
  z-index: 5;
  width: 300px;
}
.arrow-block img {
  position: absolute;
  width: 160px;
  top: -20px;
  height: 100px;
}
.arrow-block ::after {
  position: absolute;
  content: "";
  width: 90px;
  height: 90px;
  bottom: -40px;
  right: 90px;
  border: 2px solid #f4f4f4;
  border-radius: 50%;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}
.arrow-block :hover::after {
  bottom: -41px;
  right: 62px;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.arrow-red {
  width: 100%;
  position: relative;
  top: -98px;
  left: 40px;
  cursor: pointer;
  z-index: 5;
  color: #6d0602;
}
.arrow-red img {
  position: absolute;
  width: 201 px;
  top: -170px;
}
.arrow-red ::after {
  position: absolute;
  content: "";
  width: 80px;
  height: 80px;
  bottom: -20px;
  right: 453px;
  border: 2px solid #f4f4f4;
  border-radius: 50%;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}
.arrow-red :hover::after {
  bottom: -41px;
  right: 462px;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.arrow-text {
  text-transform: uppercase;
  font-family: "Gravity-Regular";
  font-size: 22px;
  font-weight: 400;
  color: #ffffff;
}

@media (max-width: 700px) {
  .arrow-block {
    top: -68px;
    left: 140px;
  }
}
@media (max-width: 450px) {
  .container {
    max-width: 370px;
  }
  .arrow-block {
    top: -68px;
    left: 210px;
    width: 100px;
  }
  .arrow-block img {
    position: absolute;
    width: 101px;
    top: -20px;
    height: 100px;
  }
  .arrow-block ::after {
    width: 50px;
    height: 50px;
    bottom: -20px;
    right: -30px;
  }
  .arrow-block :hover::after {
    bottom: -35px;
    right: -22px;
  }
}
.arrow-text {
  font-size: 16px;
}

.studio {
  background: #080808;
  padding: 20px 0;
}

.studio-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.studio-img {
  -o-object-fit: cover;
     object-fit: cover;
}
.studio-img picture img {
  width: 100%;
  height: 900px;
}

.studio-text {
  margin-top: 70px;
  background: #0f0f0f;
  width: 70%;
  height: 760px;
}

.studio-title {
  display: block;
  width: 490px;
}
.studio-title h2 {
  font-family: "RoundedElegance";
  font-size: 46px;
  font-weight: 400;
  line-height: 48px;
  text-align: left;
  color: #f4f4f4;
  text-transform: uppercase;
  padding: 70px 60px 0 60px;
}

.studio-subtitle {
  margin-top: 43px;
  width: 470px;
  display: block;
}
.studio-subtitle p {
  font-family: "Gravity-Book";
  font-size: 24px;
  font-weight: 350;
  line-height: 33.6px;
  text-align: left;
  color: #f4f4f4;
  padding: 43px 60px 0 60px;
}

.studio-button {
  margin-top: 40px;
  margin-left: 60px;
}

.studio-arrow__background p::after {
  background: #0f0f0f !important;
}

@media (max-width: 1210px) {
  .studio-img picture img {
    height: 700px;
  }
  .studio-title h2 {
    font-size: calc(26px + 1.3223140496vw);
  }
  .studio-subtitle p {
    font-size: calc(8px + 1.3223140496vw);
  }
}
@media (max-width: 701px) {
  .studio-img picture img {
    height: 700px;
  }
  .studio-title h2 {
    font-size: calc(26px + 1.3223140496vw);
  }
  .studio-subtitle p {
    font-size: calc(8px + 1.3223140496vw);
  }
}