@font-face {
  font-family: "Gravity-Book";
  font-style: normal;
  font-weight: 400;
  src: url("../../../fonts/Gravity-Book.woff");
  src: local(""), url("../../../fonts/Gravity-Book.woff") format("woff");
}
@font-face {
  font-family: "Gravity-Regular";
  font-style: normal;
  font-weight: 400;
  src: url("../../../fonts/Gravity-Regular.woff");
  src: local(""), url("../../../fonts/Gravity-Regular.woff") format("woff");
}
@font-face {
  font-family: "RoundedElegance";
  font-style: normal;
  font-weight: 400;
  src: url("../../../fonts/Rounded_Elegance.woff");
  src: local(""), url("../../../fonts/Rounded_Elegance.woff") format("woff");
}
body {
  width: 100%;
  min-width: 900px;
  max-width: 1920px;
}

.container {
  width: 1100px;
  margin: 0 auto;
}

.none {
  display: none;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  bottom: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.header {
  background: #080808;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: justify;
  letter-spacing: 1px;
  padding: 0 10px;
}

.header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.nav .nav-item {
  text-transform: uppercase;
}

.nav-item:not(:last-child) {
  margin-right: 3.177vw;
}

.item-link {
  color: #f4f4f4;
  font-family: "Gravity";
  font-size: 22px;
  font-weight: 400;
  line-height: 26.4px;
  letter-spacing: 0.01em;
  text-align: center;
  position: relative;
}
.item-link:hover:after {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background-color: #f4f4f4;
  opacity: 1;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
  -webkit-transition: opacity 0.1s linear;
  transition: opacity 0.1s linear;
}

.item-red {
  color: #f4f4f4;
  font-family: "Gravity";
  font-size: 22px;
  font-weight: 400;
  line-height: 26.4px;
  letter-spacing: 0.01em;
  text-align: center;
  text-underline-position: from-font;
  position: relative;
}
.item-red:hover:after {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background-color: #6d0602;
  opacity: 1;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
  -webkit-transition: opacity 0.1s linear;
  transition: opacity 0.1s linear;
}

.header-link {
  margin-left: 20.802vw;
}

.popup {
  display: none;
}

@media (max-width: 795px) {
  .nav {
    display: none;
  }
  .header-nav {
    display: none;
  }
  .header-burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    position: relative;
    z-index: 100;
  }
  .navbar__hamb {
    display: block;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-right: 10px;
  }
  .navbar__hamb-field {
    cursor: pointer;
    padding: 5px;
  }
  .navbar__hamb-bar {
    display: block;
    width: 30px;
    height: 2px;
    margin: 6px auto;
    background-color: #f4f4f4;
    -webkit-transition: 0.2s;
    transition: 0.2s;
    line-height: 1;
  }
  .item-link {
    font-size: 18px;
    font-weight: 400;
    line-height: 21.6px;
    text-align: center;
  }
  .nav__text {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 20px 0;
    font-size: 20px;
    font-weight: bold;
    color: #f4f4f4;
  }
  .active .navbar__hamb-bar:nth-child(2) {
    opacity: 0;
  }
  .active .navbar__hamb-bar:nth-child(1) {
    -webkit-transform: translateY(8px) rotate(45deg);
            transform: translateY(8px) rotate(45deg);
  }
  .active .navbar__hamb-bar:nth-child(3) {
    -webkit-transform: translateY(-8px) rotate(-45deg);
            transform: translateY(-8px) rotate(-45deg);
  }
  .noscroll {
    overflow: hidden;
  }
  .popup-menu {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-transform: uppercase;
    padding-top: 35px;
  }
  .popup-menu .nav-item {
    margin: 0;
  }
  .popup-menu .nav-item:not(:first-child) {
    padding-top: 20px;
  }
  .popup {
    padding-top: 86px;
    padding-bottom: 30px;
    position: fixed;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: #080808;
    z-index: 10;
    display: block;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    overflow-y: auto;
  }
  .popup.open {
    left: 0;
  }
}
.main {
  background: #080808;
  position: relative;
}

.rectangle {
  position: absolute;
  left: 0;
  top: 0;
  width: 1440px;
  height: 850px;
  background-color: #0F0F0F;
}

.main-title {
  margin-top: 90px;
  width: 680px;
  height: 196px;
}

.title-text {
  color: #f4f4f4;
  font-size: 82px;
  font-style: normal;
  font-family: "Rounded Elegance";
  font-weight: 400;
  line-height: 98px;
  text-align: left;
  text-transform: uppercase;
}

.main-subtitle {
  margin-top: 60px;
  width: 522px;
  height: 84px;
}

.title-subtext {
  font-family: Gravity;
  font-size: 30px;
  font-weight: 350;
  line-height: 42px;
  text-align: left;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  color: #F4F4F4;
}

.main-swiper {
  position: absolute;
  margin-top: -100px;
  right: 18.5%;
}

.main-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.button-block {
  margin-top: 90px;
}

.button {
  position: relative;
  width: 110px;
  height: 160px;
  border: none;
  background: #080808;
}
.button p {
  font-family: "Gravity-Book";
  font-size: 22px;
  font-weight: 400;
  line-height: 30.8px;
  text-align: center;
  color: #f4f4f4;
}
.button p::after {
  cursor: pointer;
  position: absolute;
  top: -25px;
  left: -15px;
  content: "";
  width: 160px;
  height: 160px;
  border: 2px solid #f4f4f4;
  border-radius: 50%;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  z-index: 2;
}
.button p:hover::after {
  top: 0;
  left: 47;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.order__item {
  cursor: pointer;
  width: 160px;
  height: 100px;
  margin-top: 345px;
  margin-left: 26px;
  position: relative;
  z-index: 2;
}

.order__btn {
  position: relative;
  outline: none;
  background-color: inherit;
  color: #ffffff;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  z-index: 1;
}

.order__btn2 {
  position: relative;
  outline: none;
  cursor: pointer;
  background-color: inherit;
  color: #ffffff;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  z-index: 2;
}

.order__btn::after {
  position: absolute;
  content: "";
  top: -74px;
  left: -21px;
  width: 160px;
  height: 160px;
  border: 2px solid #f4f4f4;
  background-color: #0f0f0f;
  border-radius: 50%;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  z-index: 2;
}

.order__btn2::after {
  position: absolute;
  content: "";
  top: -74px;
  left: -21px;
  width: 160px;
  height: 160px;
  border: 2px solid red;
  background-color: #0f0f0f;
  border-radius: 50%;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  z-index: 2;
}

.order__btn:hover::after {
  top: -56px;
  left: -30px;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  z-index: 2;
}

.order__btn2:hover::after {
  top: -56px;
  left: -30px;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  z-index: 2;
}

.order__btn-text {
  width: 114px;
  position: relative;
  font-size: 22px;
  font-weight: 400;
  line-height: 30px;
  font-style: normal;
  z-index: 4;
}

.swiper {
  width: 600px;
  height: 900px;
}

.image-slider__image {
  width: 600px !important;
  height: 900px;
  text-align: center;
}

.swiper-slide-active {
  width: 600px !important;
}

.image-slider__image img {
  min-width: 100%;
}

.swiper-button-next::after {
  display: none;
}

.swiper-button-prev::after {
  display: none;
}

.swiper-pagination {
  display: none;
}

.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
  display: none;
}

.slider-prev {
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  outline: none;
  background-color: inherit;
  color: #ffffff;
  border-radius: 50%;
  border: none;
}

.slider-next {
  cursor: pointer;
  z-index: 1;
  outline: none;
  background-color: inherit;
  color: #ffffff;
  border-radius: 50%;
  border: none;
}

.author {
  background: #080808;
}

.author-photo {
  -o-object-fit: cover;
     object-fit: cover;
}
.author-photo img {
  width: 500px;
  height: 600px;
}

.title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 60px;
}
.title h1 {
  font-family: "RoundedElegance";
  font-size: 84px;
  font-weight: 400;
  line-height: 82px;
  text-align: left;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
}

.author-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.author-text {
  padding-left: 60px;
}

.author-title {
  margin-top: 20px;
}
.author-title div {
  font-family: "RoundedElegance";
  font-size: 46px;
  font-weight: 400;
  line-height: 48px;
  text-align: left;
  color: #f4f4f4;
  text-transform: uppercase;
}

.author-subtitle {
  margin-top: 60px;
}
.author-subtitle div {
  font-family: "Gravity";
  font-size: 24px;
  font-weight: 350;
  line-height: 33.6px;
  text-align: left;
  color: #f4f4f4;
}

@media (max-width: 1140px) {
  .container {
    max-width: 900px;
  }
  .title {
    padding-bottom: 30px;
  }
  .title h1 {
    font-size: 64px;
  }
  .author-photo {
    -o-object-fit: cover;
       object-fit: cover;
  }
  .author-photo img {
    width: 400px;
    height: 500px;
  }
  .author-text {
    padding-left: 35px;
  }
  .author-title {
    margin-top: 10px;
  }
  .author-title div {
    font-size: 26px;
  }
  .author-subtitle {
    margin-top: 30px;
  }
  .author-subtitle div {
    width: 450px;
    font-size: calc(16px + 8.4 * (100vw - 320px) / 1200);
    line-height: 25px;
  }
  .button-block {
    margin-top: 70px;
  }
}
@media (max-width: 480px) {
  .container {
    max-width: 500px;
  }
  .title {
    padding: 0 0 30px 30px;
    display: block;
    text-align: left;
  }
  .title h1 {
    font-size: 64px;
  }
  .author-photo {
    display: none;
  }
}