.arrow-block {
    position: relative;
    top: -98px;
    left: 40px;
    cursor: pointer;
    z-index: 5;

    width: 201px;

    & img {
        position: absolute;
        width: 280px;
        top: -20px;
        height: 100px;
    }
}

.arrow-red {
    width: 100%;
    position: relative;
    top: -98px;
    left: 40px;
    cursor: pointer;
    z-index: 5;
    color: #6d0602;

    & img {
        position: absolute;
        width: 201 px;
        top: -170px;
    }
}

.arrow-text {
    text-transform: uppercase;
    font-family: "Gravity-Regular";
    font-size: 22px;
    font-weight: 400;
    color: $white;
    // line-height: 26.4px;
}

@media (max-width: 1210px) {
    .arrow-block {
        top: -78px;
        left: 190px;
    }
}

@media (max-width: 706px) {
    .arrow-block {
        top: -68px;
        left: 90px;
    }
}
