.arrow-block {
    position: relative;
    top: -98px;
    left: 40px;
    cursor: pointer;
    z-index: 5;

    width: 300px;

    & img {
        position: absolute;
        width: 201px;
        top: -20px;
        height: 100px;
    }

    & ::after {
        position: absolute;
        content: "";
        width: 80px;
        height: 80px;
        bottom: -20px;
        right: 53px;
        border: 2px solid #f4f4f4;
        border-radius: 50%;
        transition-duration: 0.3s;
    }

    & :hover::after {
        bottom: -41px;
        right: 62px;
        transition-duration: 0.3s;
    }
}

.arrow-red {
    width: 100%;
    position: relative;
    top: -98px;
    left: 40px;
    cursor: pointer;
    z-index: 5;
    color: #6d0602;

    & img {
        position: absolute;
        width: 201px;
        top: -170px;
    }

    & ::after {
        position: absolute;
        content: "";
        width: 80px;
        height: 80px;
        bottom: -20px;
        right: 453px;
        border: 2px solid #f4f4f4;
        border-radius: 50%;
        transition-duration: 0.3s;
    }

    & :hover::after {
        bottom: -41px;
        right: 462px;
        transition-duration: 0.3s;
    }
}

// after элемент. Увеличить область нажатия

.arrow-text {
    text-transform: uppercase;
    font-family: "Gravity";
    font-size: 22px;
    font-weight: 400;
    color: #ffffff;
    // line-height: 26.4px;
}

@media (max-width: 700px) {
    .arrow-block {
        top: -68px;
        left: 140px;
    }
}

@media (max-width: 450px) {
    .container {
        max-width: 370px;
    }

    .arrow-block {
        top: -68px;
        left: 210px;
        width: 100px;

        & img {
            position: absolute;
            width: 101px;
            top: -20px;
            height: 100px;
        }

        & ::after {
            width: 50px;
            height: 50px;
            bottom: -20px;
            right: -30px;
        }

        & :hover::after {
            bottom: -35px;
            right: -22px;
        }
    }
}

.arrow-text {
    font-size: 16px;
    // line-height: 26.4px;
}
