.author {
    background: $background-block;
    padding-top: 228px;
    position: relative;
    height: 1150px;
}

.author-rectangle {
    position: absolute;
    right: 0;
    top: 360px;
    width: 75vw;
    height: 750px;
    background-color: $rectangle-color;
}
.author-photo {
    object-fit: cover;

    & img {
        width: 500px;
        height: 600px;
    }
}

.author-title {
    width: 596px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding-bottom: 60px;

    & h1 {
        text-transform: uppercase;
        font-family: "RoundedElegance";
        font-size: 82px;
        font-weight: 400;
        line-height: 82px;
        text-align: left;
        color: $smoke-white;
    }
}

.author-description {
    display: flex;
    position: relative;
    top: 60px;
    z-index: 10;
}
.author-text {
    padding: 0 0 0 60px;
}
.author-center {
    display: flex;
    justify-content: center !important;
}
.author-name {
    width: 596px;
    margin-top: 20px;

    & div {
        font-family: "RoundedElegance";
        font-size: 46px;
        font-weight: 400;
        line-height: 48px;
        text-align: left;
        color: $smoke-white;
        text-transform: uppercase;
    }
}
.author-subtitle {
    margin-top: 60px;

    & div {
        font-family: "Gravity-Book";
        font-size: 32px;
        font-weight: 350;
        line-height: 33.6px;
        text-align: left;
        color: $smoke-white;
    }
}

.author-button {
    margin-top: -20px !important;
    margin-left: 20px;
}

@media (max-width: 1263px) {
    .author {
        width: 1263px;
    }

    .button-block {
        margin-top: 135px;
    }
}

@media (max-width: 1226px) {
    .author-text {
        width: 626px;
    }
}

@media (max-width: 1140px) {
    .author-name {
        width: 470px;

        & div {
        }
    }

    .author-text {
        width: 500px;
    }

    .title {
        padding-bottom: 30px;

        & h1 {
            font-size: 64px;
        }
    }

    .author-photo {
        object-fit: cover;

        & img {
            width: 600px;
            height: 700px;
        }
    }

    .author-text {
        padding-left: 35px;
    }

    .author-name {
        margin-top: 10px;

        & div {
            font-size: 26px;
        }
    }
    .author-subtitle {
        margin-top: 30px;

        & div {
            width: 450px;
            font-size: calc(16px + (4 + 4 * 1.1) * ((100vw - 320px) / 1200));
            line-height: 25px;
        }
    }
    .button-block {
        margin-top: 110px;
    }

    .author-rectangle {
        width: 950px;
        height: 640px;
    }
}

@media (max-width: 920px) {
    .author {
        height: 1060px;
        padding-top: 128px;
    }
    .author-rectangle {
        width: 900px;
        height: 620px;
    }
}

@media (max-width: 560px) {
    .author {
        width: 543px;
    }

    .author-description {
        width: 543px;
        display: block;
    }
    .title {
        padding: 0 0 30px 30px;
        display: block;
        text-align: left;

        & h1 {
            font-size: 30px;
        }
    }

    .author-photo {
        display: none;
    }
}
