.author {
    background: $background-block;
}
.author-photo {
    object-fit: cover;

    & img {
        width: 500px;
        height: 600px;
    }
}
.title {
    display: flex;
    justify-content: center;
    padding-bottom: 60px;

    & h1 {
        font-family: "RoundedElegance";
        font-size: 84px;
        font-weight: 400;
        line-height: 82px;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
    }
}
.author-description {
    display: flex;
}
.author-text {
    padding-left: 60px;
}
.author-title {
    margin-top: 20px;

    & div {
        font-family: "RoundedElegance";
        font-size: 46px;
        font-weight: 400;
        line-height: 48px;
        text-align: left;
        color: #f4f4f4;
        text-transform: uppercase;
    }
}
.author-subtitle {
    margin-top: 60px;

    & div {
        font-family: "Gravity-Book";
        font-size: 24px;
        font-weight: 350;
        line-height: 33.6px;
        text-align: left;
        color: #f4f4f4;
    }
}

@media (max-width: 1140px) {
    .container {
        max-width: 900px;
    }

    .title {
        padding-bottom: 30px;

        & h1 {
            font-size: 64px;
        }
    }

    .author-photo {
        object-fit: cover;

        & img {
            width: 400px;
            height: 500px;
        }
    }

    .author-text {
        padding-left: 35px;
    }

    .author-title {
        margin-top: 10px;

        & div {
            font-size: 26px;
        }
    }
    .author-subtitle {
        margin-top: 30px;

        & div {
            width: 450px;
            font-size: calc(16px + (4 + 4 * 1.1) * ((100vw - 320px) / 1200));
            line-height: 25px;
        }
    }
    .button-block {
        margin-top: 70px;
    }
}

@media (max-width: 560px) {
    .author {
        width: 543px;
    }

    .container {
        width: 543px;
    }
    .author-description {
        width: 543px;
        display: block;
    }
    .title {
        padding: 0 0 30px 30px;
        display: block;
        text-align: left;

        & h1 {
            font-size: 30px;
        }
    }

    .author-photo {
        display: none;
    }
}
