.contacts {
    background: $background-block;
    padding-top: 100px;
}
.contacts-wrapper {
    display: flex;
}
.contackts-img {
    & img {
        width: 600px;
        height: 900px;
    }
}
.contackts-content {
    padding-top: 50px;
}
.contacts-list {
    padding-left: 124px;
    padding-top: 91px;
}
.list-item {
    display: flex;

    & img {
        padding-right: 20px;
    }

    & p {
        font-family: "Gravity-Regular";
        font-size: 30px;
        font-weight: 350;
        line-height: 42px;
        text-align: left;
        color: $smoke-white;
    }
}
.list-item:not(:first-child) {
    padding-top: 40px;
}
.contacts-title {
}

.margin {
    padding-left: 142px;
}

@media (max-width: 1331px) {
    .contackts-img {
        & img {
            width: 400px;
            height: 700px;
        }
    }
    .contacts-list {
        padding-left: 40px;
    }
}

@media (max-width: 1250px) {
    .contacts {
        width: 1240px;
    }
}

@media (max-width: 961px) {
    .contackts-img {
        & img {
            width: 400px;
            height: 700px;
        }
    }
    .list-item {
        display: flex;

        & img {
            padding-right: 20px;
        }

        & p {
            font-size: 20px;
        }
    }
    .contacts-list {
        padding-left: 40px;
    }
    .button-block {
        display: block;
    }
}

@media (max-width: 602px) {
    .contackts-img {
        & img {
            display: none;
        }
    }
    .contackts-content {
        padding-top: 20px;
    }
    .list-item {
        display: flex;

        & img {
            padding-right: 10px;
        }

        & p {
            font-size: 16px;
        }
    }
    .contacts-list {
        padding-top: 20px;
        padding-left: 0;
    }
    .button-block {
        display: block;
    }
    .margin {
        padding-left: 10px;
        padding-top: 60px;
    }
}
