.couple {
    background: $background-block;
    position: relative;
    padding-top: 50px;
}
.couple-wrapper {
    display: flex;
}
.rectangle-couple {
    position: absolute;
    left: 0;
    top: 130px;
    width: 75vw;
    height: 710px;
    background-color: $rectangle-color;
}
.couple-text {
    padding-top: 170px;
}
.couple-title {
    position: relative;
    z-index: 1;
    width: 540px;
    & h2 {
        font-family: "RoundedElegance";
        font-size: 46px;
        font-weight: 400;
        line-height: 48px;
        text-align: left;
        color: $smoke-white;
        text-transform: uppercase;
    }
}
.couple-subtitle {
    position: relative;
    z-index: 1;
    margin-top: 43px;
    width: 437px;

    & p {
        font-family: "Gravity-Book";
        font-size: 24px;
        font-weight: 350;
        line-height: 33.6px;
        text-align: left;
        color: $smoke-white;
    }
}
.passion {
    position: relative;
    z-index: 1;
    margin-top: -125px;

    font-family: "RoundedElegance";
    font-size: 180px;
    font-weight: 400;
    line-height: 180px;
    text-align: left;

    color: $background-block;
}
.couple-img {
    object-fit: cover;
    position: relative;
    top: 250px;
    right: 85px;
    z-index: 3;

    & img {
        width: 880px;
        height: 600px;
    }
}

.arrow-couple {
    width: 300px;
    position: relative;
    top: -98px;
    left: 40px;
    cursor: pointer;
    z-index: 5;
    color: #6d0602;

    & img {
        position: absolute;
        width: 201px !important;
        top: -267px;
    }
}

.arrow-text {
    text-transform: uppercase;
    font-family: "Gravity-Regular";
    font-size: 22px;
    font-weight: 400;
    color: $white;
}

.arrow-couple::after {
    position: absolute;
    content: "";
    width: 90px;
    height: 90px;
    bottom: -25px;
    right: 55px;
    border: 2px solid $smoke-white;
    border-radius: 50%;
    transition-duration: 0.3s;
}

.arrow-couple:hover::after {
    display: block;
    bottom: -48px;
    right: 57px;
    transition-duration: 0.3s;
}

.couple-block {
    margin-top: 90px;
    position: relative;
    z-index: 10;
}
@media (max-width: 1611px) {
    .couple-img {
        & img {
            width: 800px;
            height: 500px;
        }
    }

    .arrow-couple {
        & img {
            height: 600px;
        }
    }
}

@media (max-width: 1443px) {
    .couple-img {
        & img {
            width: 700px;
            height: 500px;
        }
    }

    .arrow-couple {
        & img {
            height: 600px;
        }
    }
}

@media (max-width: 1350px) {
    .photosession {
        font-size: calc(82px + 16 * (100vw / 760));
    }

    .arrow-couple {
        & img {
            width: 201px !important;
        }
    }

    .couple-img {
        object-fit: cover;
        position: relative;
        top: 250px;
        right: 70px;
        z-index: 3;

        & img {
            width: 600px;
            height: 420px;
        }
    }

    .arrow-couple {
        & img {
            height: 600px;
        }
    }
}

@media (max-width: 1263px) {
    .couple {
        width: 1263px;
    }

    .couple-text {
        padding-top: 60px;
    }

    .couple-title {
        & h2 {
            font-size: calc(30px + 16 * (100vw / 1250));
        }
    }
    .couple-subtitle {
        margin-top: 23px;

        & p {
            font-size: calc(8px + 16 * (100vw / 1250));
        }
    }

    .couple-img {
        top: 140px;
        right: 70px;

        & img {
            width: 600px;
            height: 400px;
        }
    }

    .arrow-couple {
        & img {
            position: absolute;
            width: 201px !important;
            height: 25px !important;
            top: 30px;
        }
    }

    .arrow-couple::after {
        width: 90px;
        height: 90px;
        bottom: -55px;
        right: 50px;
    }

    .arrow-couple:hover::after {
        display: block;
        bottom: -70px;
        right: 70px;
        transition-duration: 0.3s;
    }

    .rectangle-couple {
        top: 80px;
        height: 640px;
        width: 790px;
    }
}

@media (max-width: 981px) {
    .couple-wrapper {
        padding: 0 15px;
    }
    .couple-text {
        padding-top: 70px;
    }

    .couple-title {
        & h2 {
            font-size: calc(30px + 16 * (100vw / 980));
        }
    }
    .couple-subtitle {
        margin-top: 23px;
        & p {
            font-size: calc(8px + 16 * (100vw / 980));
        }
    }

    .couple-img {
        right: 70px;

        & img {
            width: 600px;
            height: 450px;
        }
    }

    .arrow-couple {
        & img {
            width: 201px;
        }
    }

    .arrow-couple::after {
        width: 90px;
        height: 90px;
        bottom: -27px;
        right: 45px;
    }

    .arrow-couple:hover::after {
        display: block;
        bottom: -44px;
        right: 60px;
        transition-duration: 0.3s;
    }

    .photosession {
        font-size: calc(84px + 16 * (100vw / 760));
    }

    .rectangle-couple {
        height: 606px;
    }
}

@media (max-width: 701px) {
    .water-wrapper {
        display: block;
    }
    .water-text {
        padding-top: 0;
    }
    .water-title {
        width: 350px;
        padding-bottom: 10px;

        & h2 {
            font-size: calc(6px + 16 * (100vw / 570));
            line-height: 30px;
            padding-left: 20px;
        }
    }
    .water-subtitle {
        display: none;
    }
    .button-block {
        display: none;
    }
    .photosession {
        display: none;
    }
    .rectangle-water {
        display: none;
    }
}

@media (max-width: 520px) {
    .water {
        width: 520px;
    }

    .water-wrapper {
        padding: 0;
    }

    .water-title {
        width: 270px;
    }

    .water-img {
        & img {
            width: 347px;
        }
    }
}

@media (max-width: 700px) {
    .couple-wrapper {
        display: block;
    }
    .couple-text {
        padding-top: 0;
    }
    .couple-title {
        width: 350px;
        padding-bottom: 10px;

        & h2 {
            font-size: calc(6px + 16 * (100vw / 570));
            line-height: 30px;
            padding-left: 20px;
        }
    }
    .couple-subtitle {
        display: none;
    }
    .button-block {
        display: none;
    }
    .photosession {
        display: none;
    }
}

@media (max-width: 520px) {
    .couple {
        width: 520px;
    }

    .couple-wrapper {
        padding: 0;
    }

    .couple-title {
        width: 270px;
    }

    .couple-img {
        & img {
            width: 347px;
        }
    }
}
