.couple {
    background: $background-block;
    position: relative;
    padding-top: 50px;
}
.couple-wrapper {
    display: flex;
}
.rectangle-couple {
    position: absolute;
    left: 0;
    top: 130px;
    width: 75vw;
    height: 720px;
    background-color: $rectangle-color;
}
.couple-text {
    padding-top: 170px;
}
.couple-title {
    position: relative;
    z-index: 1;
    & h2 {
        font-family: "RoundedElegance";
        font-size: 46px;
        font-weight: 400;
        line-height: 48px;
        text-align: left;
        color: $smoke-white;
        text-transform: uppercase;
    }
}
.couple-subtitle {
    position: relative;
    z-index: 1;
    margin-top: 43px;

    & p {
        font-family: "Gravity-Book";
        font-size: 24px;
        font-weight: 350;
        line-height: 33.6px;
        text-align: left;
        color: $smoke-white;
    }
}
.photosession {
    position: relative;
    z-index: 1;
    margin-top: -125px;

    font-family: "RoundedElegance";
    font-size: 140px;
    font-weight: 400;
    line-height: 180px;
    text-align: left;

    color: $background-block;
}
.couple-img {
    padding-left: 40px;
    object-fit: cover;
    position: relative;
    z-index: 1;

    & img {
        width: 700px;
    }
}

.arrow-couple {
    width: 300px;
    position: relative;
    top: -98px;
    left: 40px;
    cursor: pointer;
    z-index: 5;
    color: #6d0602;

    & img {
        position: absolute;
        width: 201px;
        top: 25px;
    }
}

.arrow-text {
    text-transform: uppercase;
    font-family: "Gravity-Regular";
    font-size: 22px;
    font-weight: 400;
    color: $white;
}

.arrow-couple::after {
    position: absolute;
    content: "";
    width: 90px;
    height: 90px;
    bottom: -25px;
    right: 55px;
    border: 2px solid $smoke-white;
    border-radius: 50%;
    transition-duration: 0.3s;
}

.arrow-couple:hover::after {
    display: block;
    bottom: -48px;
    right: 57px;
    transition-duration: 0.3s;
}
@media (max-width: 1350px) {
    .photosession {
        font-size: calc(82px + 16 * (100vw / 760));
    }
}

@media (max-width: 1250px) {
    .couple {
        width: 1240px;
    }

    .couple-text {
        padding-top: 120px;
    }

    .couple-title {
        & h2 {
            font-size: calc(30px + 16 * (100vw / 1250));
        }
    }
    .couple-subtitle {
        margin-top: 23px;

        & p {
            font-size: calc(8px + 16 * (100vw / 1250));
        }
    }

    .couple-img {
        padding-left: 40px;

        & img {
            width: 500px;
            height: 300px;
        }
    }

    .arrow-couple {
        & img {
            position: absolute;
            width: 201px;
            top: -95px;
        }
    }

    .arrow-couple::after {
        width: 90px;
        height: 90px;
        bottom: -55px;
        right: 50px;
    }

    .arrow-couple:hover::after {
        display: block;
        bottom: -50px;
        right: 62px;
        transition-duration: 0.3s;
    }

    .rectangle-couple {
        height: 80vh;
    }
}

@media (max-width: 980px) {
    .couple-wrapper {
        padding: 0 15px;
    }
    .couple-text {
        padding-top: 70px;
    }

    .couple-title {
        & h2 {
            font-size: calc(30px + 16 * (100vw / 980));
        }
    }
    .couple-subtitle {
        margin-top: 23px;

        & p {
            font-size: calc(8px + 16 * (100vw / 980));
        }
    }

    .couple-img {
        padding-left: 20px;

        & img {
            width: 400px;
            height: 250px;
        }
    }

    .arrow-couple {
        & img {
            width: 201px;
        }
    }

    .arrow-couple::after {
        width: 90px;
        height: 90px;
        bottom: -27px;
        right: 150px;
    }

    .arrow-couple:hover::after {
        display: block;
        bottom: -44px;
        right: 160px;
        transition-duration: 0.3s;
    }

    .photosession {
        font-size: calc(84px + 16 * (100vw / 760));
    }
}

@media (max-width: 700px) {
    .container {
        max-width: 440px;
    }

    .couple-wrapper {
        display: block;
    }
    .couple-text {
        padding-top: 0;
    }
    .couple-title {
        width: 350px;
        padding-bottom: 10px;

        & h2 {
            font-size: calc(6px + 16 * (100vw / 570));
            line-height: 30px;
            padding-left: 20px;
        }
    }
    .couple-subtitle {
        display: none;
    }
    .button-block {
        display: none;
    }
    .photosession {
        display: none;
    }
}

@media (max-width: 520px) {
    .couple {
        width: 520px;
    }

    .couple-wrapper {
        padding: 0;
    }

    .couple-title {
        width: 270px;
    }

    .couple-img {
        & img {
            width: 347px;
        }
    }
}
