.couple {
    background: $background-block;
    position: relative;
}
.couple-wrapper {
    display: flex;
}
.rectangle-couple {
    position: absolute;
    left: 0;
    top: 57px;
    width: 75vw;
    height: 780px;
    z-index: 1;
    background-color: $rectangle-color;
}
.couple-text {
    padding-top: 170px;
}
.couple-title {
    position: relative;
    z-index: 1;
    width: 540px;
    & h2 {
        font-family: "RoundedElegance";
        font-size: 46px;
        font-weight: 400;
        line-height: 48px;
        text-align: left;
        color: $smoke-white;
        text-transform: uppercase;
    }
}
.couple-subtitle {
    position: relative;
    z-index: 1;
    margin-top: 43px;
    width: 437px;

    & p {
        font-family: "Gravity-Book";
        font-size: 24px;
        font-weight: 350;
        line-height: 33.6px;
        text-align: left;
        color: $smoke-white;
    }
}
.passion {
    position: relative;
    z-index: 1;
    margin-top: 17px;

    font-family: "RoundedElegance";
    font-size: 180px;
    font-weight: 400;
    line-height: 180px;
    text-align: left;

    color: $background-block;
}
.couple-img {
    object-fit: cover;
    position: relative;
    top: 301px;
    right: 85px;
    z-index: 3;

    & img {
        width: 880px;
        height: 600px;
    }
}

.arrow-couple {
    width: 300px;
    position: relative;
    top: -98px;
    left: 40px;
    cursor: pointer;
    z-index: 5;
    color: #6d0602;

    & img {
        position: absolute;
        width: 201px !important;
        height: 20px !important;
        top: 20px;
    }
}

.arrow-text {
    text-transform: uppercase;
    font-family: "Gravity-Regular";
    font-size: 22px;
    font-weight: 400;
    color: $white;
}

.arrow-couple::after {
    position: absolute;
    content: "";
    width: 90px;
    height: 90px;
    bottom: -25px;
    right: 55px;
    border: 2px solid $smoke-white;
    border-radius: 50%;
    transition-duration: 0.3s;
}

.arrow-couple:hover::after {
    display: block;
    bottom: -46px;
    right: 59px;
    transition-duration: 0.3s;
}

.couple-button {
    margin-top: 60px;
    position: relative;
    z-index: 10;
}

.couple-button-block {
    cursor: pointer;
    position: relative;
    width: 110px;
    height: 160px;
    border: none;
    background: inherit;
    padding-top: 50px;

    & p {
        text-transform: uppercase;
        font-family: "Gravity-Regular";
        font-size: 22px;
        font-weight: 400;
        line-height: 30.8px;
        text-align: center;
        color: $smoke-white;
        position: sticky;
        z-index: 1;
    }
}

.couple-button-block::after {
    background: $rectangle-color;
    cursor: pointer;
    position: absolute;
    top: 0px;
    left: -18px;
    content: "";
    width: 160px;
    height: 160px;
    border: 2px solid $smoke-white;
    border-radius: 50%;
    transition-duration: 0.3s;
    z-index: -2;
}

.couple-button-block:hover::after {
    top: 18px;
    left: -26px;
    transition-duration: 0.3s;
}
@media (max-width: 1611px) {
    .couple-img {
        & img {
            width: 800px;
            height: 580px;
        }
    }

    .arrow-couple {
        & img {
            height: 600px;
        }
    }
}

@media (max-width: 1443px) {
    .rectangle-couple {
        height: 710px;
    }

    .couple-img {
        & img {
            width: 700px;
            height: 500px;
        }
    }

    .arrow-couple {
        & img {
            height: 600px;
        }
    }

    .passion {
        margin-top: -55px;
    }
}

@media (max-width: 1350px) {
    .photosession {
        font-size: calc(82px + 16 * (100vw / 760));
    }

    .arrow-couple {
        & img {
            width: 201px !important;
        }
    }

    .couple-img {
        object-fit: cover;
        position: relative;
        top: 250px;
        right: 70px;
        z-index: 3;

        & img {
            width: 700px;
            height: 460px;
        }
    }

    .arrow-couple {
        & img {
            height: 600px;
        }
    }

    .rectangle-couple {
        height: 610px;
    }

    .passion {
        margin-top: -145px;
    }

    .couple-button {
        margin-top: 44px;
    }
}

@media (max-width: 1263px) {
    .couple {
        width: 1263px;
    }

    .couple-text {
        padding-top: 125px;
    }

    .couple-title {
        & h2 {
            font-size: calc(30px + 16 * (100vw / 1250));
        }
    }
    .couple-subtitle {
        margin-top: 23px;

        & p {
            font-size: calc(8px + 16 * (100vw / 1250));
        }
    }

    .couple-img {
        top: 235px;
        right: 70px;

        & img {
            width: 664px;
            height: 495px;
        }
    }

    .arrow-couple {
        & img {
            position: absolute;
            width: 201px !important;
            height: 25px !important;
            top: 30px;
        }
    }

    .arrow-couple::after {
        width: 90px;
        height: 90px;
        bottom: -55px;
        right: 50px;
    }

    .arrow-couple:hover::after {
        display: block;
        bottom: -70px;
        right: 70px;
        transition-duration: 0.3s;
    }

    .rectangle-couple {
        top: 80px;
        height: 616px;
        width: 790px;
    }

    .couple-button {
        margin-top: 140px;
    }
}

@media (max-width: 981px) {
    .couple-wrapper {
        padding: 0 15px;
    }
    .couple-text {
        padding-top: 120px;
    }

    .couple-title {
        & h2 {
            font-size: calc(30px + 16 * (100vw / 980));
        }
    }
    .couple-subtitle {
        margin-top: 23px;
        & p {
            font-size: calc(8px + 16 * (100vw / 980));
        }
    }

    .couple-img {
        right: 70px;
        top: 196px;

        & img {
            width: 650px;
            height: 480px;
        }
    }

    .arrow-couple {
        & img {
            width: 201px;
        }
    }

    .arrow-couple::after {
        width: 90px;
        height: 90px;
        bottom: -38px;
        right: 50px;
    }

    .arrow-couple:hover::after {
        display: block;
        bottom: -56px;
        right: 59px;
        transition-duration: 0.3s;
    }

    .photosession {
        font-size: calc(84px + 16 * (100vw / 760));
    }

    .rectangle-couple {
        height: 536px;
    }

    .couple-button {
        margin-top: 82px;
    }
}

@media (max-width: 708px) {
    .couple {
        width: 1265px;
    }

    .water-wrapper {
        display: block;
    }
    .couple-text {
        margin-left: 70px;
    }
    .couple-title {
        width: 350px;
        padding-bottom: 10px;

        & h2 {
            font-size: calc(8px + 16 * (100vw / 570));
            line-height: 40px;
            padding-left: 0 !important;
        }
    }
    .couple-subtitle {
        width: 400px;
        display: block !important;
        margin-top: 23px;

        & p {
            font-size: calc(12px + 16 * (100vw / 980));
            line-height: 40px;
        }
    }

    .arrow-couple::after {
        right: 60px;
        bottom: -57px;
    }

    .arrow-couple::after:hover {
        right: 60px;
        bottom: -57px;
    }

    .couple-img {
        margin-left: 86px;
        margin-top: -74px;
        height: 335px;

        & img {
            width: 556px;
            height: 335px;
        }
    }
    .rectangle-couple {
        display: none;
    }
    .passion {
        display: none;
    }
    .button-block {
        display: none !important;
    }

    .couple-button {
        display: none;
    }
}

@media (max-width: 590px) {
    .couple-wrapper {
        padding-left: 98px;
    }
}

@media (max-width: 520px) {
    .water {
        width: 520px;
    }

    .water-wrapper {
        padding: 0;
    }

    .water-title {
        width: 270px;
    }

    .water-img {
        & img {
            width: 347px;
        }
    }
}
