.excerpt {
    background: $background-block;
    padding-bottom: 120px;
}
.excerpt-text {
    width: 890px;
    text-align: center;
    margin: 0 auto;

    & ::before {
        content: url(../../../img/svg/left.svg);
        width: 42px;
        height: 42px;
        display: inline-block;
        vertical-align: middle;
        margin-right: 32px;
    }

    & p {
        text-align: center;
        display: flex;
        justify-content: center;
        text-transform: uppercase;
        padding-top: 90px;
        font-family: "RoundedElegance";
        font-size: 30px;
        font-weight: 400;
        line-height: 50.4px;
        text-align: left;
        color: $smoke-white;
    }

    & ::after {
        content: url(../../../img/svg/right.svg);
        width: 42px;
        height: 42px;
        display: inline-block;
        vertical-align: middle;
        margin: 95px 0 0 27px;
    }
}

@media (max-width: 1263px) {
    .excerpt {
        width: 1263px;
        padding-bottom: 90px;
    }

    .excerpt-text {
        & p {
            padding-top: 60px;
        }
    }
}

@media (max-width: 1145px) {
    .excerpt {
        padding-bottom: 70px;
    }

    .excerpt-text {
        width: 860px;

        & ::before {
            width: 32px;
            height: 32px;
        }

        & p {
            width: 817px;
            padding-top: 140px;
            font-size: 28px;
            line-height: 40px;
        }

        & ::after {
            width: 32px;
            height: 32px;
        }
    }
}

@media (max-width: 917px) {
    .excerpt-text {
        & p {
            padding-top: 130px;
        }
    }
}

@media (max-width: 770px) {
    .excerpt-text {
        width: 660px;

        & ::before {
            transform: scale(0.8);
            width: 22px;
            height: 22px;
            margin-top: -10px;
        }

        & p {
            width: 850px;
            padding-top: 50px;
            font-size: 30px;
            line-height: 35px;
        }

        & ::after {
            transform: scale(0.8);
            width: 22px;
            height: 22px;
            margin: 65px 0 0 27px;
        }
    }
}

@media (max-width: 708px) {
    .excerpt {
        width: 1265px;
    }

    .excerpt-text {
        width: 830px;

        & p {
            margin: 0 auto;
        }
    }
}

@media (max-width: 591px) {
    .excerpt {
        width: 1265px;
    }

    .excerpt-text {
        & ::before {
            transform: scale(0.6);
            width: 22px;
            height: 22px;
            margin-top: -10px;
        }

        & p {
            margin-left: 130px;
            width: 730px;
            padding-top: 200px;
            font-size: 18px;
            line-height: 30px;
        }

        & ::after {
            transform: scale(0.6);
            width: 22px;
            height: 22px;
            margin: 65px 0 0 -27px;
        }
    }
}
