.footer {
    background: $background-block;
    padding-top: 90px;
    padding-bottom: 100px;
}
.container {
}
.footer-content {
    display: flex;
    align-items: center;
}
.footer-item {
    color: $smoke-white;
    font-family: "Gravity-Regular";
    font-size: 22px;
    font-weight: 400;
    line-height: 26.4px;
    letter-spacing: 0.01em;
    text-align: center;
    position: relative;

    &:hover:after {
        content: "";
        display: block;
        width: 100%;
        height: 3px;
        background-color: $smoke-white;
        opacity: 1;
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 1;
        transition: opacity 0.1s linear;
    }
}
.footer-item:not(:last-child) {
    padding-right: 60px;
}

.footer-img:not(:last-child) {
    padding-left: 260px;
    padding-right: 40px;
}
