.footer {
    background: $background-block;
    padding-top: 90px;
    padding-bottom: 100px;
}
.icon-mobile {
    display: none;
}
.footer-content {
    display: flex;
    align-items: center;
}
.footer-item {
    color: $smoke-white;
    font-family: "Gravity-Regular";
    font-size: 22px;
    font-weight: 400;
    line-height: 26.4px;
    letter-spacing: 0.01em;
    text-align: center;
    position: relative;

    &:hover:after {
        content: "";
        display: block;
        width: 100%;
        height: 3px;
        background-color: $smoke-white;
        opacity: 1;
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 1;
        transition: opacity 0.1s linear;
    }
}
.footer-item {
    margin-right: 61px;
}

.footer-img:not(:last-child) {
    margin-left: 210px;
    margin-right: 2.083vw;
}

@media (max-width: 1263px) {
    .footer {
        width: 1265px;
    }
}

@media (max-width: 610px) {
    .footer-img {
        display: none;
    }
    .icon-mobile {
        width: 152px;
        display: flex;
        margin: 0 auto;
        align-items: center;
        & img {
            margin-right: 15px;
        }
    }
    .footer-content {
        display: flex;
        flex-direction: column;
    }

    .footer-item {
        margin-top: 50px;
    }

    .footer-item:not(:first-child) {
        margin-top: 10px;
    }
}

@media (max-width: 590px) {
    .footer {
        display: flex;
        justify-content: center;
    }
}
