.main {
  background: $background-block;
  height: 850px;
}

.main-swiper {
  position: absolute;
  margin-top: -100px;
  right: 18.5%;
}

.main-flex {
  // display: flex;
  // margin-left: 18vw;
}

.button {
  & p::after {
    background: $rectangle-color !important;
  }
}

.rectangle {
  position: absolute;
  left: 0;
  top: 99px;
  width: 1440px;
  height: 850px;
  background-color: $rectangle-color;
}
.main-text {
  padding-top: 111px;
  position: relative;
  z-index: 10;
  width: 710px;
}

.main-title {
  display: flex;
  justify-content: center;
  padding-bottom: 60px;
  width: 701px;

  & h1 {
    font-family: "RoundedElegance";
    font-size: 84px;
    font-weight: 400;
    line-height: 82px;
    text-align: left;
    color: $smoke-white;
    text-transform: uppercase;
  }
}

.main-subtitle {
  margin-top: 60px;
  width: 522px;
  height: 84px;

  & p {
    font-family: "Gravity-Book";
    font-size: 30px;
    font-weight: 350;
    line-height: 42px;
    text-align: left;
    color: $smoke-white;
  }
}

@media (max-width: 1441px) {
  .rectangle {
    width: 1140px;
  }
}

@media (max-width: 1141px) {
  .rectangle {
    width: 880px;
  }
}

@media (max-width: 700px) {
  .rectangle {
    display: none;
  }

  .container {
    max-width: 820px;
  }

  .main-text {
    padding-top: 20px;
  }

  .main-title {
    width: 500px;
    padding-bottom: 30px;

    & h1 {
      font-size: 54px;
      line-height: 60px;
    }
  }

  .main-subtitle {
    margin-top: 30px;

    & p {
      line-height: 38px;
    }
  }
}

@media (max-width: 561px) {
  .main-text {
    width: 425px;
  }

  .container {
    width: 460px;
  }

  .main-title {
    width: 425px;

    & h1 {
      font-size: calc(29px + 16 * (100vw / 700));
    }
  }

  .main-subtitle {
    width: 425px;

    & p {
      font-size: calc(8px + 16 * (100vw / 700));
    }
  }
}

@media (max-width: 380px) {
  .main-text {
    width: 280px;
  }

  .container {
    width: 300px;
  }

  .main-title {
    width: 280px;

    & h1 {
      font-size: calc(29px + 16 * (100vw / 700));
    }
  }

  .main-subtitle {
    width: 280px;
    margin-top: 5px;

    & p {
      font-size: calc(8px + 16 * (100vw / 700));
    }
  }
}
