.main {
  background: $background-block;
  position: relative;
}

.rectangle {
  position: absolute;
  left: 0;
  top: 0;
  width: 1440px;
  height: 850px;
  background-color: #0f0f0f;
}
.main-text {
}

.main-title {
  margin-top: 90px;
  width: 680px;
  height: 196px;
}
.title-text {
  color: $smoke-white;
  font-size: 82px;
  font-style: normal;
  font-family: "Rounded Elegance";
  font-weight: 400;
  line-height: 98px;
  text-align: left;
  text-transform: uppercase;
}
.main-subtitle {
  margin-top: 60px;
  width: 522px;
  height: 84px;
}
.title-subtext {
  font-family: "Gravity-Book";
  font-size: 30px;
  font-weight: 350;
  line-height: 42px;
  text-align: left;
  color: $smoke-white;
}

.main-swiper {
  position: absolute;
  margin-top: -100px;
  right: 18.5%;
}

.main-flex {
  display: flex;
}

@media (max-width: 795px) {
}
