.price {
    background: $background-block;
    padding-top: 150px;
}
.price-title {
    display: flex;
    justify-content: center;
    align-items: center;

    & p {
        font-family: "RoundedElegance";
        font-size: 82px;
        font-weight: 400;
        line-height: 82px;
        color: $smoke-white;
    }
}
.price-wrapper {
    margin-top: 90px;
    display: flex;
    justify-content: space-between;
}
.price-item {
    width: 520px;
    height: 950px;
    background: $gray;
    border-right: 3px solid $red;
    border-bottom: 3px solid $red;
}
.item-title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 80px;

    & p {
        font-family: "RoundedElegance";
        font-size: 48px;
        font-weight: 400;
        line-height: 48px;
        color: $smoke-white;
    }

    & span {
        border: 2px solid $red;
        margin-top: 15px;
        width: 200px;
    }
}
.item-border {
    & span {
        width: 280px;
    }
}
.item-description {
    margin-top: 55px;
}

.article-group {
    margin-left: 70px;
}
.description-article {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    & span {
        width: 8px;
        height: 8px;
        background: $red;
        border-radius: 100%;
        margin-right: 13px;
    }

    & p {
        font-family: "Gravity-Regular";
        font-size: 24px;
        font-weight: 350;
        line-height: 33.6px;
        color: $smoke-white;
    }
}

.description-article:not(:first-child) {
    margin-top: 20px;
}
.item-value {
    margin: 40px 0 0 70px;

    & p {
        font-family: "Gravity-Regular";
        font-size: 48px;
        font-weight: 400;
        line-height: 67.2px;
        text-align: left;
        color: $smoke-white;
    }
}

.arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 102px;
}

.price-arrow {
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
    cursor: pointer;
    z-index: 5;

    width: 300px;

    & p {
        text-transform: uppercase;
        font-family: "Gravity-Regular";
        font-size: 22px;
        font-weight: 400;
        color: $white;
        margin-left: -65px;
    }

    & img {
        position: absolute;
        width: 280px;
        top: -20px;
        left: 12px;
        height: 100px;
    }
}

.price-arrow::after {
    position: absolute;
    content: "";
    width: 90px;
    height: 90px;
    bottom: -30px;
    right: -33px;
    border: 2px solid $smoke-white;
    border-radius: 50%;
    transition-duration: 0.3s;
}

.price-arrow:hover::after {
    bottom: -45px;
    right: -30px;
    transition-duration: 0.3s;
}

.price-wrapper-mobile {
    display: none;
}

@media (max-width: 1263px) {
    .price {
        width: 1263px;
    }
}

@media (max-width: 1141px) {
    .price-item:first-child {
        margin-right: 15px;
    }

    .article-group {
        margin-left: 15px;
    }

    .item-value {
        margin: 40px 0 0 40px;
    }
    .arrow {
        justify-content: flex-start;
        margin-left: 40px;
    }
}

@media (max-width: 800px) {
    .description-article {
        & span {
            display: none;
        }
    }

    .item-title {
        & span {
            display: none;
        }
    }

    .price-item {
        width: 520px;
        height: 950px;
        background: $gray;
        border-right: none;
        border-bottom: none;
    }

    .description-article {
        & p {
            font-size: 25px;
        }
    }

    .article-group {
        margin-left: 60px;
    }
    .arrow {
        margin-left: 10px;
    }
}

@media (max-width: 708px) {
    .price {
        width: 1265px;
    }

    .price-arrow::after {
        bottom: -44px;
        right: -30px;
    }

    .price-arrow::after:hover {
        bottom: -44px;
        right: -30px;
    }

    .price-item {
        height: 920px;
    }
}

@media (max-width: 601px) {
    .price {
        padding-top: 50px;
    }

    .price-title {
        & p {
            font-size: 30px;
        }
    }

    .price-wrapper {
        display: none;
    }

    .price-wrapper-mobile {
        display: block;
    }
    .wrapper-table {
        display: flex;
        align-items: center;
        justify-content: center;

        margin-top: 40px;
    }

    tbody {
        display: flex;
        flex-direction: column;
    }

    table {
        border-collapse: collapse;
        line-height: 1.1;
        font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
        color: #0c213b;
    }
    .table-title {
        width: 252px;
    }
    th {
        font-family: "Gravity-Regular";
        font-size: 18px;
        font-weight: 400;
        line-height: 25px;
        text-align: left;
        color: $smoke-white;
        padding: 18px 15px;
        text-transform: uppercase;

        border: 2px solid $smoke-white;

        & a {
            display: flex;
            justify-content: center;
        }
    }

    td {
        display: flex;
        justify-content: start;

        font-family: "Gravity-Regular";
        font-size: 16px;
        font-weight: 350;
        line-height: 22.4px;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;

        color: $smoke-white;
    }
    .table-item-title {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 40px;
        width: 500px;
        font-family: "Gravity-Regular";
        font-size: 18px;
        font-weight: 400;
        line-height: 25.2px;
        text-align: left;
        text-transform: uppercase;
    }
    .table-item {
        border-left: 2px solid $smoke-white;
        border-right: 2px solid $smoke-white;
        border-bottom: 2px solid $smoke-white;
    }
    .table-string {
        margin-top: 10px;
        font-family: "Gravity-Regular";
        font-size: 16px;
        font-weight: 350;
        line-height: 22.4px;
        text-align: left;
        color: $smoke-white;
        padding-left: 141px;
    }
    .table-string:first-child {
        margin-top: 20px;
    }

    .item-value {
        margin-left: 141px;

        & p {
            font-family: "Gravity-Regular";
            font-size: 36px;
            font-weight: 400;
            line-height: 50.4px;
            text-align: left;
        }
    }

    .arrow {
        display: flex;
        justify-content: center;
        margin: 40px 0 50px 0;
    }
    .price-arrow {
        width: 138px;

        & p {
            font-family: "Gravity-Regular";
            font-size: 14px;
            font-weight: 400;
            line-height: 16.8px;
            letter-spacing: 0.02em;
            text-align: center;
        }

        & img {
            width: 164px;
            margin-left: -43px;
        }
    }

    .price-arrow::after {
        width: 50px;
        height: 50px;
        bottom: -37px;
        right: -15px;
        pointer-events: none;
    }

    .price-arrow:hover::after {
        pointer-events: none;
    }

    .title-active {
        pointer-events: none;
        background: #6d0602;
    }

    .title-hide {
        display: none;
    }

    a {
        color: $smoke-white;
    }
}

@media (max-width: 590px) {
    .price-title {
        padding-top: 230px;
        p {
            font-size: 75px;
            margin: 0 auto;
            width: 180px;
        }
    }

    .table-title {
        width: 350px;
    }

    .price-wrapper-mobile {
        padding-left: 125px;
    }

    .table-title {
        a {
            font-size: 30px;
        }
    }

    .table-item-title {
        font-size: 30px;
        display: flex;
        justify-content: center;
        padding-top: 40px;
        margin: 0 auto;
    }

    .table-string {
        margin-top: 30px;
        font-size: 28px;
        line-height: 44.4px;
    }

    .table-string {
        font-size: 28px;
        line-height: 44.4px;
    }

    .price-arrow {
        width: 350px;
        p {
            font-size: 40px;
        }
    }

    .price-arrow img {
        width: 453px;
        top: 12px;
        left: -10px;
    }

    .price-arrow::after {
        width: 130px;
        height: 130px;
        bottom: -106px;
        right: -110px;
    }

    .price-arrow:hover::after {
        width: 130px;
        height: 130px;
        bottom: -106px;
        right: -110px;
    }

    .arrow {
        margin: 85px 0 140px 0;
    }
}
