.running-line {
    border-top: 3px solid $smoke-white;
    border-bottom: 3px solid $smoke-white;
    background: $background-block;
    height: 88px;
    display: flex;
    position: relative;
    width: 100%;
    overflow: hidden;

    & h3 {
        text-transform: uppercase;
        font-family: "RoundedElegance";
        font-size: 48px;
        font-weight: 400;
        line-height: 48px;
        text-align: left;
        color: $smoke-white;
    }

    & img {
        width: 20px;
        height: 20px;
        border-radius: 100px;
        margin-top: 12px;
        margin-left: 20px;
    }
}

.running-item {
    display: flex;
    margin-top: 20px;
    animation: running-line 4s linear infinite;
}

.running-item:not(:first-child) {
    margin-left: 20px;
}

@keyframes running-line {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}

@media (max-width: 1263px) {
    .running-line {
        width: 1263px;
    }

    .running-wrapper {
        padding-top: 70px;
        background: $background-block;
        width: 1263px;
    }
}

@media (max-width: 990px) {
    .running-wrapper {
        padding-top: 150px;
        background: $background-block;
        width: 1263px;
    }
}

@media (max-width: 800px) {
    .running-line {
        display: none;
    }
}
