.shooting {
    background: $background-block;
    position: relative;
    height: 1420px;
}
.shooting-wrapper {
    position: relative;
    left: -58px;
    z-index: 10;
}
.background {
    background: $gray;
    width: 64.583vw;
    height: 1240px;
    position: absolute;
    top: 0;
    left: 0;
}
.shooting-title__open {
    display: flex;
    justify-content: center;
    padding-top: 170px;
    position: relative;
    z-index: 10;

    & p {
        font-family: "RoundedElegance";
        font-size: calc(66px + 16 * (100vw / 1280));
        font-weight: 400;
        line-height: 60px;
        text-align: left;
        color: $smoke-white;
    }
}
.description-item {
    display: flex;
    margin-top: 86px;
}
.circle {
    width: 100px;
    height: 100px;
    border-radius: 100px;
    border: 3px solid $white;
}
.circle-item {
    color: $white;

    & p {
        font-family: "Gravity-Book";
        font-size: 64px;
        font-weight: 400;
        line-height: 89.6px;
        text-align: center;
    }
}
.shooting-title {
    & h2 {
        font-family: "RoundedElegance";
        font-size: 46px;
        font-weight: 400;
        line-height: 48px;
        text-align: left;
        color: $smoke-white;
        text-transform: uppercase;
    }
}
.margin-subtitle {
    margin-left: 20px;
    margin-top: 20px;
}
.shooting-subtitle {
    margin-top: 40px;
    width: 480px;

    & p {
        font-family: "Gravity-Book";
        font-size: 24px;
        font-weight: 350;
        line-height: 33.6px;
        text-align: left;
        color: $smoke-white;
    }
}
.shooting-img {
    position: absolute;
    top: 60px;
    right: 0;
    object-fit: cover;

    & img {
        width: 46.875vw;
        height: 1360px;
    }
}

@media (max-width: 1880px) {
    .shooting-img {
        & img {
            height: 1100px;
        }
    }
}

@media (max-width: 1405px) {
    .shooting-img {
        & img {
            height: 900px;
        }
    }
}

@media (max-width: 1290px) {
    .shooting {
        height: 1120px;
    }

    .background {
        height: 1060px;
    }

    .description-item {
        display: flex;
        margin-top: 66px;
    }

    .shooting-title__open {
        padding-top: 100px;
    }

    .circle {
        width: 70px;
        height: 70px;
        position: relative;
        left: 50px;
    }
    .circle-item {
        color: $white;

        & p {
            font-size: 44px;
            line-height: 69.6px;
        }
    }

    .shooting-title {
        width: 400px;
        position: relative;
        left: 50px;

        & h2 {
            font-size: 32px;
            line-height: 38px;
        }
    }

    .shooting-subtitle {
        margin-top: 20px;

        & p {
            font-size: 20px;
            line-height: 24px;
        }
    }

    .shooting-img {
        & img {
            height: 900px;
        }
    }

    .add-margin {
        margin-top: 0;
    }
}

@media (max-width: 1263px) {
    .shooting {
        width: 1263px;
    }

    .shooting-img {
        right: 100px;
    }
}

@media (max-width: 1000px) {
    .shooting-wrapper {
        padding-left: 20px;
    }

    .shooting-title__open {
        & p {
            font-size: calc(38px + 16 * (100vw / 1280));
        }
    }

    .shooting-subtitle {
        & p {
            width: 320px;

            font-size: calc(14px + 16 * (100vw / 1000));
            line-height: 30px;
        }
    }

    .shooting-img {
        top: 230px;

        & img {
            width: 600px;
            height: 800px;
        }
    }

    .background {
        width: 900px;
        height: 1000px;
        margin-top: 172px;
    }
}

@media (max-width: 708px) {
    .shooting {
        width: 1265px;
    }

    .shooting-wrapper {
        padding-top: 40px;
    }
    .shooting-title__open {
        padding-top: 250px;
        margin: 0 auto;
        width: 1150px;

        & p {
            font-size: calc(58px + 26 * (150vw / 708));
        }
    }
    .shooting-img {
        top: 436px;
    }

    .shooting-subtitle {
        & p {
            width: 363px;
        }
    }

    .background {
        margin-top: 220px;
        height: 1060px;
    }
}

@media (max-width: 590px) {
    .shooting {
        width: 1265px;
    }

    .shooting-wrapper {
        position: inherit;
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding-left: 5px;
        padding-right: 5px;
    }

    .shooting-description {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin: 0 auto;
    }

    .shooting-title__open {
        padding-top: 200px;
        width: 600px;

        & p {
            text-align: center;
            line-height: 80px;
        }
    }

    .shooting-subtitle {
        width: 300px;

        & p {
        }
    }

    .shooting-img {
        display: none;
    }

    .background {
        display: none;
    }
}
