.shooting {
}
.background {
}
.shooting-wrapper {
    display: flex;
}
.project-title {
}
.none {
}
.shooting-description {
}
.circle {
}
.circle-item {
}
.circle-title {
}
.title {
}
.subtitle {
}
.shooting-img {
    & img {
        width: 600px;
        height: 900px;
    }
}
