.studio {
    background: $background-block;
    padding-top: 100px;
}
.studio-wrapper {
    display: flex;
    justify-content: center;
    margin: 0 auto;
}
.studio-img {
    object-fit: cover;

    & picture img {
        width: 100%;
        height: 900px;
    }
}
.studio-text {
    margin-top: 56px;
    background: #0f0f0f;
    width: 70%;
    height: 790px;
}
.studio-title {
    display: block;
    width: 490px;

    & h2 {
        font-family: "RoundedElegance";
        font-size: 46px;
        font-weight: 400;
        line-height: 48px;
        text-align: left;
        color: $smoke-white;
        text-transform: uppercase;
        padding: 70px 60px 0 60px;
    }
}
.studio-subtitle {
    margin-top: 43px;
    width: 470px;
    display: block;

    & p {
        font-family: "Gravity-Book";
        font-size: 24px;
        font-weight: 350;
        line-height: 33.6px;
        text-align: left;
        color: $smoke-white;
        padding: 43px 60px 0 60px;
    }
}

.arrow-studio {
    width: 300px;
    position: relative;
    top: -125px;
    left: 190px;
    cursor: pointer;
    z-index: 5;
    color: #6d0602;

    & img {
        position: absolute;
        width: 201px;
        top: 25px;
    }
}

.arrow-text {
    text-transform: uppercase;
    font-family: "Gravity-Regular";
    font-size: 22px;
    font-weight: 400;
    color: $white;
}

.arrow-studio::after {
    position: absolute;
    content: "";
    width: 90px;
    height: 90px;
    bottom: -25px;
    right: 55px;
    border: 2px solid $smoke-white;
    border-radius: 50%;
    transition-duration: 0.3s;
}

.arrow-studio:hover::after {
    display: block;
    bottom: -48px;
    right: 57px;
    transition-duration: 0.3s;
}

.studio-button {
    margin-top: 85px;
    margin-left: 80px;
    position: relative;
    z-index: 10;
}

.studio-button-block {
    cursor: pointer;
    position: relative;
    width: 110px;
    height: 160px;
    border: none;
    background: inherit;
    padding-top: 50px;

    & p {
        text-transform: uppercase;
        font-family: "Gravity-Regular";
        font-size: 22px;
        font-weight: 400;
        line-height: 30.8px;
        text-align: center;
        color: $smoke-white;
        position: sticky;
        z-index: 1;
    }
}

.studio-button-block::after {
    background: $rectangle-color;
    cursor: pointer;
    position: absolute;
    top: 0px;
    left: -18px;
    content: "";
    width: 160px;
    height: 160px;
    border: 2px solid $smoke-white;
    border-radius: 50%;
    transition-duration: 0.3s;
    z-index: -2;
}

.studio-button-block:hover::after {
    top: 18px;
    left: -26px;
    transition-duration: 0.3s;
}

.studio-arrow__background {
    & p::after {
        background: #0f0f0f !important;
    }
}

@media (max-width: 1263px) {
    .studio {
        width: 1263px;
    }

    .studio-img {
        & picture img {
            height: 700px;
        }
    }

    .studio-text {
        margin-top: 50px;
        width: 50%;
        height: 600px;
    }

    .studio-title {
        width: 455px;
        & h2 {
            font-size: calc(26px + 16 * (100vw / 1210));
            padding: 30px 60px 0 60px;
        }
    }
    .studio-subtitle {
        margin-top: 20px;

        & p {
            font-size: calc(7px + 16 * (100vw / 1210));
            padding: 5px 60px 0 60px;
        }
    }

    .studio-button {
        margin-top: 20px;
        margin-left: 60px;
    }
}

@media (max-width: 980px) {
    .studio-button {
        margin-top: 45px;
    }
}

@media (max-width: 708px) {
    .studio {
        width: 1265px;
    }

    .studio-wrapper {
        display: flex;
        justify-content: center;
    }

    .studio-img {
        & img {
            width: 556px;
            height: 335px;
        }
    }

    .studio-img-708 {
        z-index: 2;
        position: relative;
        padding-left: 20px;
        width: 556px !important;
        height: 335px !important;
    }

    .studio-text {
        margin-top: 0;
        width: 430px;
        height: 205px;
        background: 0;
        z-index: 2;
    }

    .studio-title {
        width: 190px;

        & h2 {
            padding: 5px 0 0 20px;
            font-size: calc(20px + 16 * (100vw / 1210));
            line-height: 32px;
        }
    }
    .studio-subtitle {
        width: 450px;
        margin-top: 20px;

        & p {
            padding: 0 10px 0 20px;
            font-size: calc(12px + 16 * (100vw / 1210));
            line-height: 38px;
        }
    }

    .studio-button {
        display: none;
    }

    .arrow-studio {
        top: -100px;
        left: 260px;
    }

    .arrow-studio::after {
        bottom: -47px;
        right: 60px;
    }

    .arrow-studio::after:hover {
        bottom: -47px;
        right: 60px;
    }
}

@media (max-width: 590px) {
    .studio-wrapper {
        justify-content: end;
        margin-right: -65px;
    }
}

@media (max-width: 540px) {
    .studio {
        width: 900px;
    }

    .studio-wrapper {
        flex-direction: column-reverse;
    }

    .studio-img {
        padding: 0 0 10px 20px;
        background: #0f0f0f;
        width: 430px;
        display: block;

        & picture img {
            width: 390px;
            height: 200px;
        }
    }

    .studio-text {
        margin-top: 0;
        width: 430px;
        height: 90px;
    }

    .studio-title {
        width: 190px;

        & h2 {
            padding: 5px 0 0 20px;
            font-size: calc(16px + 16 * (100vw / 1210));
            line-height: 25px;
        }
    }
    .studio-subtitle {
        display: none;
    }
}
