.studio {
    background: #080808;
    padding: 20px 0;
}
.studio-wrapper {
    display: flex;
}
.studio-img {
    object-fit: cover;

    & picture img {
        width: 100%;
        height: 900px;
    }
}
.studio-text {
    margin-top: 70px;
    background: #0f0f0f;
    width: 70%;
    height: 760px;
}
.studio-title {
    display: block;
    width: 490px;

    & h2 {
        font-family: "RoundedElegance";
        font-size: 46px;
        font-weight: 400;
        line-height: 48px;
        text-align: left;
        color: #f4f4f4;
        text-transform: uppercase;
        padding: 70px 60px 0 60px;
    }
}
.studio-subtitle {
    margin-top: 43px;
    width: 470px;
    display: block;

    & p {
        font-family: "Gravity-Book";
        font-size: 24px;
        font-weight: 350;
        line-height: 33.6px;
        text-align: left;
        color: #f4f4f4;
        padding: 43px 60px 0 60px;
    }
}

.studio-button {
    margin-top: 40px;
    margin-left: 60px;
}

.studio-arrow__background {
    & p::after {
        background: #0f0f0f !important;
    }
}

@media (max-width: 1210px) {
    .studio-img {
        & picture img {
            height: 700px;
        }
    }

    .studio-title {
        & h2 {
            font-size: calc(26px + 16 * (100vw / 1210));
        }
    }
    .studio-subtitle {
        & p {
            font-size: calc(8px + 16 * (100vw / 1210));
        }
    }
}

@media (max-width: 701px) {
    .studio {
        width: 900px;
    }

    .container {
        max-width: 770px;
    }

    .studio-img {
        & picture img {
            width: 300px;
            height: 200px;
        }
    }

    .studio-text {
        margin-top: 0;
        height: 205px;
    }

    .studio-title {
        width: 190px;

        & h2 {
            padding: 5px 0 0 20px;
            font-size: calc(16px + 16 * (100vw / 1210));
            line-height: 25px;
        }
    }
    .studio-subtitle {
        width: 356px;
        margin-top: 20px;

        & p {
            padding: 0 10px  0 20px;
            font-size: calc(8px + 16 * (100vw / 1210));
            line-height: 25px;
        }
    }
}

@media (max-width: 420px) {
}
