.studio {
    background: #080808;
}
.studio-wrapper {
    display: flex;
}
.studio-img {
}
.arrow-text {
}
.studio-text {
}
.studio-title {
    & h2 {
        font-family: "RoundedElegance";
        font-size: 46px;
        font-weight: 400;
        line-height: 48px;
        text-align: left;
        color: #f4f4f4;
        text-transform: uppercase;
    }
}
.studio-subtitle {
    margin-top: 43px;

    & p {
        font-family: "Gravity";
        font-size: 24px;
        font-weight: 350;
        line-height: 33.6px;
        text-align: left;
        color: #f4f4f4;
    }
}
