.swiper-container {
    width: 600px;
    height: 900px;
  }
  
  .image-slider__slide {
  }
  .swiper-slide {
  }
  .image-slider__image {
    text-align: center;
  }
  .image-slider__image img {
    min-width: 100%;
  }
  .swiper-button-next {
  
  }
  
  .swiper-button-prev {
    
  }
  
  .swiper-pagination {
    display: none;
  }