.water {
    background: $background-block;
    position: relative;
    padding-top: 50px;
}
.water-wrapper {
    display: flex;
}
.rectangle-water {
    position: absolute;
    left: 0;
    top: 130px;
    width: 75vw;
    height: 780px;
    background-color: $rectangle-color;
}
.water-text {
    padding-top: 170px;
}
.water-title {
    position: relative;
    z-index: 1;
    & h2 {
        font-family: "RoundedElegance";
        font-size: 46px;
        font-weight: 400;
        line-height: 48px;
        text-align: left;
        color: $smoke-white;
        text-transform: uppercase;
    }
}
.water-subtitle {
    position: relative;
    z-index: 1;
    margin-top: 43px;

    & p {
        font-family: "Gravity-Book";
        font-size: 24px;
        font-weight: 350;
        line-height: 33.6px;
        text-align: left;
        color: $smoke-white;
    }
}
.photosession {
    position: relative;
    z-index: 1;
    margin-top: -125px;

    font-family: "RoundedElegance";
    font-size: calc(164px + 16 * (100vw / 1920));
    font-weight: 400;
    line-height: 180px;
    text-align: left;

    color: $background-block;
}
.water-img {
    padding-left: 40px;
    object-fit: cover;
    position: relative;
    z-index: 1;

    & img {
        width: 700px;
    }
}

.arrow-water {
    width: 300px;
    position: relative;
    top: -98px;
    left: 40px;
    cursor: pointer;
    z-index: 5;
    color: #6d0602;

    & img {
        position: absolute;
        width: 201px;
        top: 25px;
    }
}

.arrow-text {
    text-transform: uppercase;
    font-family: "Gravity-Regular";
    font-size: 22px;
    font-weight: 400;
    color: $white;
}

.arrow-water::after {
    position: absolute;
    content: "";
    width: 90px;
    height: 90px;
    bottom: -25px;
    right: 55px;
    border: 2px solid $smoke-white;
    border-radius: 50%;
    transition-duration: 0.3s;
}

.arrow-water:hover::after {
    display: block;
    bottom: -48px;
    right: 57px;
    transition-duration: 0.3s;
}

.water-button {
    margin-top: 90px;
    position: relative;
    z-index: 10;
}
@media (max-width: 1350px) {
    .photosession {
        font-size: calc(82px + 16 * (100vw / 760));
    }
}

@media (max-width: 1263px) {
    .water {
        width: 1263px;
    }

    .rectangle-water {
        height: 680px;
        width: 850px;
    }

    .water-text {
        padding-top: 60px;
    }

    .water-title {
        & h2 {
            font-size: calc(30px + 16 * (100vw / 1250));
        }
    }
    .water-subtitle {
        margin-top: 23px;

        & p {
            font-size: calc(8px + 16 * (100vw / 1250));
        }
    }

    .water-img {
        padding-left: 40px;
        object-fit: cover;
        position: relative;
        z-index: 1;

        & img {
            width: 500px;
            height: 300px;
        }
    }

    .arrow-water {
        & img {
            position: absolute;
            width: 201px;
            top: -95px;
        }
    }

    .arrow-water::after {
        width: 90px;
        height: 90px;
        bottom: -55px;
        right: 50px;
    }

    .arrow-water:hover::after {
        display: block;
        bottom: -70px;
        right: 70px;
        transition-duration: 0.3s;
    }

    .rectangle-water {
        top: 80px;
        height: 560px;
        width: 790px;
    }
}

@media (max-width: 980px) {
    .water-wrapper {
        padding: 0 15px;
    }
    .water-text {
        padding-top: 70px;
    }

    .water-title {
        & h2 {
            font-size: calc(30px + 16 * (100vw / 980));
        }
    }
    .water-subtitle {
        margin-top: 23px;

        & p {
            font-size: calc(8px + 16 * (100vw / 980));
        }
    }

    .water-img {
        padding-left: 20px;
        width: 500px;
        height: 350px;

        & img {
            width: 500px;
            height: 350px;
        }
    }

    .arrow-water {
        & img {
            top: 15px;
            width: 201px;
            height: 30px;
        }
    }

    .arrow-water::after {
        width: 90px;
        height: 90px;
        bottom: -27px;
        right: 45px;
    }

    .arrow-water:hover::after {
        display: block;
        bottom: -44px;
        right: 60px;
        transition-duration: 0.3s;
    }

    .water-block {
        margin-top: 50px;
    }

    .photosession {
        font-size: calc(84px + 16 * (100vw / 760));
    }

    .rectangle-water {
        height: 540px;
    }
}

@media (max-width: 708px) {
    .water-wrapper {
        display: flex !important;
        justify-content: center;
        padding: 0;
    }
    .water-text {
        padding-top: 0;
    }
    .water-title {
        width: 350px;
        padding-bottom: 10px;

        & h2 {
            font-size: calc(8px + 16 * (100vw / 570));
            line-height: 40px;
            padding-left: 0 !important;
        }
    }

    .water-subtitle {
        width: 400px;
        display: block !important;
        margin-top: 23px;

        & p {
            font-size: calc(12px + 16 * (100vw / 980));
            line-height: 36px;
        }
    }
    .water-img {
        padding-left: 10px;

        & img {
            width: 556px;
            height: 335px;
        }
    }
    .water-block {
        display: none;
    }
    .photosession {
        display: none;
    }

    .arrow-water {
        & img {
            width: 201px;
            height: 30px;
        }
    }

    .arrow-water::after {
        bottom: -45px;
        right: 60px;
    }

    .arrow-water::after:hover {
        bottom: -45px;
        right: 60px;
    }
    .rectangle-water {
        width: 1110px;
        height: 1890px;
        top: 0;
        left: 93px;
        z-index: 1;
    }
}

@media (max-width: 520px) {
    .water {
        width: 520px;
    }

    .water-wrapper {
        padding: 0;
    }

    .water-title {
        width: 270px;
    }

    .water-img {
        & img {
            width: 347px;
        }
    }
}
