.water {
    background: #080808;

    // display: none;
}
.water-wrapper {
    display: flex;
}
.water-text {
    padding-top: 170px;
}
.water-title {
    & h2 {
        font-family: "RoundedElegance";
        font-size: 46px;
        font-weight: 400;
        line-height: 48px;
        text-align: left;
        color: #f4f4f4;
        text-transform: uppercase;
    }
}
.water-subtitle {
    margin-top: 43px;

    & p {
        font-family: "Gravity-Book";
        font-size: 24px;
        font-weight: 350;
        line-height: 33.6px;
        text-align: left;
        color: #f4f4f4;
    }
}
.photosession {
    margin-top: -125px;

    font-family: "RoundedElegance";
    font-size: 140px;
    font-weight: 400;
    line-height: 180px;
    text-align: left;

    color: black;
}
.water-img {
    padding-left: 40px;
    object-fit: cover;

    & img {
        width: 700px;
        height: 400px;
    }
}

@media (max-width: 1250px) {
    .water-text {
        padding-top: 120px;
    }

    .water-title {
        & h2 {
            font-size: calc(30px + 16 * (100vw / 1250));
        }
    }
    .water-subtitle {
        margin-top: 23px;

        & p {
            font-size: calc(8px + 16 * (100vw / 1250));
        }
    }

    .water-img {
        padding-left: 40px;

        & img {
            width: 500px;
            height: 300px;
        }
    }

    .photosession {
        font-size: calc(84px + 16 * (100vw / 760));
    }
}

@media (max-width: 980px) {
    .water-wrapper {
        padding: 0 15px;
    }
    .water-text {
        padding-top: 70px;
    }

    .water-title {
        & h2 {
            font-size: calc(30px + 16 * (100vw / 980));
        }
    }
    .water-subtitle {
        margin-top: 23px;

        & p {
            font-size: calc(8px + 16 * (100vw / 980));
        }
    }

    .water-img {
        padding-left: 20px;

        & img {
            width: 400px;
            height: 250px;
        }
    }

    .photosession {
        font-size: calc(84px + 16 * (100vw / 760));
    }
}

@media (max-width: 700px) {
    .container {
        max-width: 440px;
    }

    .water-wrapper {
        display: block;
    }
    .water-text {
        padding-top: 0;
    }
    .water-title {
        width: 350px;
        padding-bottom: 10px;

        & h2 {
            font-size: calc(6px + 16 * (100vw / 570));
            line-height: 30px;
            padding-left: 20px;
        }
    }
    .water-subtitle {
        display: none;
    }
    .button-block {
        display: none;
    }
    .photosession {
        display: none;
    }
}

@media (max-width: 520px) {
    .water {
        width: 520px;
    }

    .water-wrapper {
        padding: 0;
    }

    .water-title {
        width: 270px;
    }

    .water-img {
        & img {
            width: 347px;
        }
    }
}
